*{
	padding: 0;
	margin: 0;
}
body{
	overflow-x:hidden; 
	background-color: #E0E0E0;
	font-family: Arial, Helvetica, sans-serif;
}
.wrap{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;

}
header{
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #252525;
}
.hTop{
	position: relative;
	left: 10px;
	top: 10px;
	height: 60px;
}

.hTop h1{
	position: absolute;
	bottom: 5px;
	left: 70px;
	color: #FFFFFF;
	font: bolder 24px '宋体';

}
.hButtom{
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 20px;
	color: #ffffff;
}
.hButtom .left,.nav li,.nav{
	float: left;
}
.hButtom .left{
	font: bold 20px '宋体';
}
.hButtom .right{
	float: right;
	padding-top: 5px; 
}
.nav{
	margin-left:10%;
}
.nav li{
	list-style: none;
	margin:0 10px;
	padding-top: 5px; 
	
}
.hButtom a{
	text-decoration: none; 
	color: #ffffff;
	margin:15px;
	font: normal 15px '微软雅黑'; 
}
.hButtom a:hover{
	text-decoration: underline;
}
 .hButtom .addBackground{
	background-color: #FFFFFF;
	border-radius:0 0 12px 12px ;
	/*box-shadow: 1px 1px 1px;*/
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content:'.';
	display: block;
	clear:both;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}
article{
	width: 65%;
	min-width: 445px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
form{
	width: 80%;
	margin: 30px auto 0;
	padding-top: 30px;
	text-align: center;

}
.item-title{
	position: relative;
	border-bottom: 1px #C6C6C6 dashed;
}
.item-title span{
	font-size: 15px;
	font-weight: bold;
	color: #838383;
}
.firstTab{
	margin: 5px auto 0;
	text-align: left;
	padding-bottom: 50px;
	border-spacing: 0px 20px;
}
.firstTab th{
	vertical-align: top;
	color: #3C3C3C;
	font-size: 15px;
}
.firstTab td{
	padding-left: 10px;
}
.file{
	display: none;
}
.upload{
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #363636;
	background-color: #F0F0F0;
	vertical-align: middle;
	border: 1px solid #DDDCDC;
	box-shadow: 1px 1px 1px;
	margin-bottom: 10px;
	cursor: pointer;
}
.uploadurl{
	color: #363636;
}
td input{
	padding: 5px 10px;
	height: 25px;
	width: 300px;
	background-color: #FEFEFE;
	border:1px #D1D1D1 solid;
	color: #363636;
	border-radius: 3px; 
}
td span{
	font-size: 12px;
	color: #363636; 
}
td.tj{
	text-align: center;
}
.tj button{
	width: 280px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	border:1px outset #6F6E6E;
	background-color: #272727;
	color: #ffffff;
}
footer{
	margin-top: 30px;
	height: 100px;
	text-align: center;
}
@media screen and (max-width: 950px) {
	.hButtom .left{
		display: none;
	}
	.nav li{
		margin:0 10px;
		
	}
	.hButtom a{
		margin:5px;
	}
}
@media screen and (max-width: 420px) {
	body{
		overflow-x:auto;
	}
	.hButtom .left{
		display: none;
	}
	.nav li{
		margin:0;
		
	}
	.nav{
		margin-left:5%;
	}
	.hButtom a{
		margin:5px;
	}
	.hButtom{
		left: 0;
		right: 2px;
	}
	 .hButtom .addBackground{
		background-color: #FFFFFF;
		border-radius:0 0 8px 8px ;
		/*box-shadow: 1px 1px 1px;*/
	}
	article{
		width: 100%;
		min-width:350px;
		
	}
	td input{
		padding: 5px 5px;
		height: 20px;
		width: 90%;
		min-width: 150px;
		background-color: #FEFEFE;
		border:1px #D1D1D1 solid;
		color: #929191; 
	}
	.upload{
		width: 60px;
		height: 20px;
		line-height: 20px;
	}


}